<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
    <title>포트폴리오</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <div class="titleLogo">
          <a href=""><img src="logo1.png" alt="" /></a>
          <h2><a href="">YongJun </a></h2>
        </div>
        <div class="bars"><i class="fas fa-bars fa-2x"></i></div>
      </div>

      <div class="menu">
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">Store</a></li>
          <li><a href="">로그인</a></li>
          <li><a href="index1.html">회원가입</a></li>
          <li><a href="">배송조회</a></li>
        </ul>
      </div>
      <div class="sns">
        <ul>
          <li>
            <a href=""><i class="fab fa-twitter"></i></a>
          </li>
          <li>
            <a href=""><i class="fab fa-instagram"></i></a>
          </li>
          <li>
            <a href=""><i class="fab fa-facebook-f"></i></a>
          </li>
        </ul>
      </div>
    </header>
    <script src="index.js"></script>
  </body>
</html>


